@font-face {
  font-family: font;
  src: url(./fonts/Quicksand.ttf);
}

.first-container{
  width: 98vw;
  height: 98vh;
  margin: 0;
}

.full{
  width: 94vw;
  height: 90vh;
  margin: 35px;
  background-color: #e4d4f5;
  border-radius: 25px;
  display: flex;
  align-items: center;
}

.second-container {
  width: 98vw;
  height: 250vh;
  margin: 0;
  background-repeat: repeat;
}

.header {
  background-color: #e4d4f5;
  margin-top: 80px;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 35px;
  border-radius: 25px;
  display: flex;
  align-items: center;
}

.title {
  font-family: font;
  font-size: 110px;
  position: absolute;
  margin-left: 55px;
  top: 13%;
}

.intro-text {
  font-family: font;
  font-size: 25px;
  position: absolute;
  margin-left: 60px;
  top: 44%;
}

.home-img {
  margin-left: 37%;
  margin-right: 5%;
  width: 60%;
  height: 80%;
}

.home-button {
  margin: 0;
  position: absolute;
  top: 67%;
  left: 6.5%;
  font-family: font;
  font-size: 30px;
  transition-duration: 0.4s;
  background-color: #291241;
  color: white;
  border: 2px solid #281838;
  border-radius: 15px;
}

.home-button:hover {
  background-color: white;
  color: black;
  border: 2px solid #e4d4f5;
}

.header-img-1 {
  width: 30%;
  height: 150%;
  margin-left: 16%;
}

.header-img-2 {
  width: 120%;
  height: 190%;
  margin-left: 10%;
}

.header-img-3 {
  width: 45%;
  height: 190%;
  margin-left: 24%;
}

.page-title {
  font-family: font;
  font-size: 120px;
  margin-left: 55px;
  margin-top: 55px;
  display:inline-block;
}

.frame {
  width: 55vw;
  height: 70vh;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.title-frame {
  width: 22vw;
  height: 25vh;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  top: 20%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ingre-frame {
  width: 50vw;
  height: 90vh;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  top: 50%;
  left: 70%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.button {
  margin: 0;
  position: absolute;
  top: 62%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: font;
  font-size: 22px;
  transition-duration: 0.4s;
  background-color: #291241;
  color: white;
  border: 2px solid #281838;
  border-radius: 15px;
}

.button:hover {
  background-color: white;
  color: black;
  border: 2px solid #e4d4f5;
}

.App {
  text-align: center;
}

.ingre-header {
  font-family: font;
  font-size: 30px;
  position: absolute;
  top: 44%;
  left: 60%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ingre-checkbox {
  padding: 2%;
  padding-top: 1.5%;
  margin-top: 8%;
  margin-bottom: 8%;
  position: absolute;
  top: 147%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 25px;
  box-shadow: 
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  border-top: 10px double #e4d4f5;
  overflow: hidden;
}

.find-recipe {
  font-family: font;
  font-size: 22px;
  transition-duration: 0.4s;
  background-color: #d2aff8;
  color: white;
  border: 3px solid #d2aff8;
  border-radius: 15px;
}

.find-recipe:hover {
  background-color: white;
  color: black;
  border: 3px solid #d2aff8;
}

.category {
  font-family: font;
  margin-bottom: 0;
}

.recipe-card {
  position: relative;
  background-color: white;
  width: 330px;
  height: 100%;
  padding-bottom: 2%;
  border-radius: 25px;
  box-shadow: 
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

.matches > * {
  margin: 1.5em 0;
}

.matches {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
  justify-content: space-evenly;
  flex-basis: 150px;
  flex-shrink: 0;
}

.recipe-img {
  display: block;
  width: 330px;
  height: 250px;
  align-self: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.recipe-text {
  font-family: font;
  word-wrap: break-word;
  color: black;
  margin-left: 5%;
  margin-right: 5%;
}

.recipe-text-title {
  font-family: font;
  font-size: 80px;
  word-wrap: break-word;
  color: black;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 4%;
}

.recipe-heading {
  font-family: font;
  font-size: 50px;
  word-wrap: break-word;
  color: black;
  margin-left: 4.5%;
  margin-right: 4.5%;
  margin-bottom: 3%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #e4d4f5;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.overlay-text {
  font-family: font;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: black;
}

.image-overlay {
  position: relative;
}

.image-overlay:hover .overlay {
  opacity: 1;
}

.missing {
  line-height: 0.5%;
}

.wrap-title {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.recipe-title {
  font-family: font;
  max-width: 230px;
  word-wrap: break-word;
  position: relative;
  margin: 7%;
  justify-content: left;
}

.recipe-card-full {
  position: relative;
  background-color: white;
  margin-left: 350px;
  margin-right: 350px;
  margin-bottom: 100px;
  margin-top: 105px;
  padding-bottom: 3%;
  height: 100%;
  border-radius: 25px;
  box-shadow: 
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  
  
}

.recipe-img-full {
  display: block;
  width: 100%;
  height: 500px;
  align-self: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}